.form-control,.form-select {
    border-radius: 50px;
    color: $theme1 !important;
    font-size: 12px;
    height: 40px;
    padding: 0.375rem 0.75rem;

    &::placeholder {
        font-size: 12px;
        color: $black;
    }
    

    &:focus {
        border-color: $theme1;
    }

    &:focus-visible {
        outline-offset: none; 
    }
}

.input-group-text {
    border-radius: 50px 50px 50px 50px;
    color: $white !important;
    background-color: $theme2 !important;
    font-size: 12px;
    cursor: pointer;
    // border-color: $theme2 !important;
}

.form-label {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    color: $white;
    margin-bottom: 6px;
}
.aged {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    color: $white;
}

.formSearch {
    padding-left: 50px;
}

.searchIcon {
    transform: translate(0,-50%);
    left: 20px;
    // width: 20px;
    // height: 20px;
    padding: 3px;
}

.searchIconImg {
    aspect-ratio: 10/10;
    object-fit: cover;
    object-position: top center;
}


@mixin form-mixin-min-sm(){

};
@mixin form-mixin-min-md(){

};
@mixin form-mixin-min-lg(){

};
@mixin form-mixin-min-xl(){

};
@mixin form-mixin-min-xxl(){

};
@mixin form-mixin-max-xl(){

};
@mixin form-mixin-max-1300(){

};
@mixin form-mixin-max-lg(){

};
@mixin form-mixin-max-md(){
    .formBg {
        & .form {
            & .form-check-input {
                &:checked {
                }
            }
            & .form-check-label {
            }
            & .forgotPass {
            }
            & .btnstyle1 {
                font-size: 14px;
            }
        }
    }

    .form-label {
        font-size: 14px;
    }
};
@mixin form-mixin-max-sm(){
    .formBg {
        & .form {
            & .form-check-input {
                &:checked {
                }
            }
            & .form-check-label {
            }
            & .forgotPass {
            }
            & .btnstyle1 {
            }
        }
    }
};
@mixin form-mixin-max-xs(){
    .form-control,.form-select {
        height: 38px;
        &::placeholder {
        }
        
    
        &:focus {
        }
    
        &:focus-visible {
        }
    }

    .searchIcon {
        width: 20px;
        height: 20px;
    }
    .form-label {
        font-size: 14px;
    }
    .formBg {
        & .form {
            & .form-check-input {
                &:checked {
                }
            }
            & .form-check-label {
                font-size: 14px;
            }
            & .forgotPass {
                font-size: 14px;
            }
            & .btnstyle1 {
                width: 100%;
            }
        }
    }
};
